#display_pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#header_grey {
  color: rgb(99, 97, 97);
  font-family: 'Roboto', sans-serif;
}

#lewagon_link {
  text-decoration: none;
  padding: 15px 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  border-radius: 6px;
  background-color: #6B72E1;
}

.box_white {
  border: 0px solid;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2) ;
  background-color: white;
  text-align: center;
  padding: 40px;
  margin: 20px auto;
}


#h2_header_green {
  color: rgba(38, 179, 38, 0.8);
}

.link_lists li a {
  color: rgba(87,95,125,0.2);
  font-weight: lighter;
  font-size: 50px;
  padding-right: 15px;
}

.link_lists li {
  display: inline;
}

.link_lists {
  padding: 0px;
}

@media (max-width: 2000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 40px auto;
  }
}


#lewagon_link:hover {
  background-color: black;
}

.link_lists li a:hover {
  color: black;
}
